.dresses{
    
    
}
.dresses .link{
    text-decoration: none;
    color: blue;
}
 .price{
    color: grey;
    text-align: end;
    margin-top: -17%;
}
.price h3{
color: orangered;
}
.bottommenu2{
    background-color: rgb(189, 27, 73);
}
.tab{
    color: white;

}