@media screen and (min-width: 310px) and (max-width: 500px) {
  * {
    font-family: "Audiowide", sans-serif;
  }
  .FashionStoreHomePage {
    width: 500px;
    height: 100%;

    padding: 2% 3%;
  }
.FashionStoreHeader{
    margin-top: 2%;
    margin-left: -7%;
    margin-right: -8%;
}
  .redheart {
    color: #f01414;
    font-size: 30px;
    font-family: "arial unicode MS", arial, geneva, sans-serif;
  }
  .search{
    margin: 3%;
  }
.searchbox{
font-size: 20px;
  border-radius: 30px;
    width: 89%;
}
  .logo{
    margin-right:-3%;
    height: 30px;
    margin-top: 7px;
   
  }
  .menu1{
    margin-right:-6%;
  }
  .fil{
    font-size: 60px;
   border-radius: 50%;
   color: white;
   
   background-color: rgb(189, 27, 73);
  }
  .filter{
  margin-top: -8%;
  margin-right: 3%;
  text-align: end;
  
}

.list .swiper {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 padding-bottom: 1%;
  color: #000;
  border-radius: 10px;
  padding-bottom: 2%;
}
.list .swiper h4 {
padding-top: 1%;
  border-radius: 10px;
}
.list .productname {
  padding-top: 2%;
  
  border-radius: 10px;
}
.list .swiper-slide {

  height: 40px;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  transition: 0.9s;
  text-align: center;
 
  background: white;
  border-radius: 15px;
}
.list .swiper-slide:hover {
  background-color:rgb(189, 27, 73);
  color: white;
}
.list h2{
  font-size: large;
  font-weight: 700;
  margin-left: 4%;
 
}
.list{
  padding-top: 5%;
}
.shoppingCard{
margin-left: 4%;

  height: 400px;
  overflow: hidden;
  overflow-y:scroll;
  bottom: 0;
 
}
.link{
  text-decoration: none;
  color: #000;
}
.bottomMenu{
  position: fixed;
  overflow: hidden;
  margin-bottom: 1%;
  bottom: 0;
  left: 0;
  right: 0;
}

}
@media (min-width: 501px) {
  .FashionStoreHomePage {
    visibility: hidden;
  }
}
